<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <authentication mode="Windows"/>
    <identity impersonate="false"/>
    <compilation debug="true" batch="false" targetFramework="4.0">
     <assemblies>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages maintainScrollPositionOnPostBack="true">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="10000"/>
    <add key="SQLConnection" value="Initial Catalog=/*DatabaseName*/;Data Source=/*DatabaseServer*/;User ID=/*UserID*/;Password=/*Password*/" />
  </appSettings>
  <runtime>
    
  </runtime>
</configuration>